.git
.gitignore
.DS_Store

*.log
*.tmp
*.swp
*.bak
.idea
.vscode

*.test
*.out
**/node_modules

/bin
/obj
/build
/dist

*.sql
*.sql.gz

vendor/
.golangci.yml

ci/
testdata/

*.iml
.idea/
.vscode/

*.bak
*.swp
